html {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: #556BBA;
}
.nav span a {
    margin: 5px 10px;
}
.nav {
    background-color: #3847AB;
    padding: 20px 10px;
    margin: 0px;
}
.nav span {
    color: #128FDE;
}
.avocado {
    position: absolute;
    top: 50%;
}