.image {
    width: help;
    height: 10em;
    display: inline-block;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    width: 138%;
    height: 100px;
}
li {
    float: left;
}
li:hover .bigImage {
    display: block;
}
.bigImage {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    /* transform: translate(-50%, -50%); */
    height: 500px;
}
/* .bigImg1 {
    display: block;
    width: 400px;
} */
.photoDisplay {
    padding-top: 500px;
    /* width: 92%;
    /* height: 80%; */
    left: 50%;
    transform: translate(-50%,0%);
    position: relative;
    border: 2px rgb(193, 193, 193) solid; 
    align-items: center ;
}
.photos {
    width: 90vw;
    height: fit-content;
    left: 50%;
    transform: translate(-50%,0%);
    position: relative;
    border: 2px rgb(193, 193, 193) solid;
    padding: 10px 10px;
}
/* .enlargedPhoto {
    width: 90%;
    height: 70%;
    position: relative;
    display: block;
    border: 2px rgb(193, 193, 193) solid;
    left: 50%;
    transform: translate(-50%,0%);
    top: 4%;
    margin-bottom: 1%; 
} */
.photoList {
    overflow: scroll;
    width: 100%;
    height: 200px;
    display: block;
    /* position: relative;
    top: 2%;
    border: 2px rgb(193, 193, 193) solid;
    width: 90%;
    height: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    white-space: nowrap; */
}