.slideshowContainer {
    overflow: hidden;
    height: 70vh;
    width: 90vw;
    border: 2px rgb(193, 193, 193) solid; 
    /* top: -50%;
    left: -50%;
    transform: translate(50%, 50%); */
    margin: auto;
    position: relative;
}
/* body {
    margin: 0;
    padding: 0;
} */
.images {
    height: 90%;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    width: 9000px;
    animation: carousel 30s infinite;
    padding-left: 50px;
}
.image {
    height: 90%;
    display: inline;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
@keyframes carousel {
    0% {left: 0}
    10% {left: 0}
    75% {left: -190vw;}
    85% {left: -190vw;}
    /* 95% {left: 0;} */
    100% {left: 0;}
}
.carModels {
    
}

.carSelections {
    display: none;
    list-style-type: none;
    position: absolute;
}

.selectionRadio {
    display: inline-block;
    position: relative;
}

input[type="radio"]:checked + label ul{
    display: block;
}
.title {
    width: 100vw;
    height: 70vh;
    display: block;
}
.title img {
    width: 100%;
    height: 100%;
}
.carDetailImage {
    width: 100%;
    /* top: 50%; */
    transform: translate(0%, 15%);
}
.buyNow {
    width: 100%;
    background-color: #EB0A1E;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
}
.buyNow:hover {
    transition: 0.2s ease-in-out;
    background-color: #C50F1F;
}
.specs {
    text-decoration: none;
    width: 100%;
    border: 1px solid black;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 2em;
    margin: 15px 0;
}
/* button[type="submit"] + ul{
    display: block;
} */